/*Content Styling*/

.page-title{
font-family: 'Roboto', sans-serif;
font-size: 50px;
text-transform: uppercase;
padding-top: 20px;
}

.section-title-one{
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    margin: 20px 0px 20px 0px;
    text-transform: uppercase;
    color: whitesmoke;
}

.page-title-two{
    font-family: 'Roboto', sans-serif;
    font-size: 45px;
    margin: 20px 0px 20px 0px;
    text-transform: uppercase;  
}

.section-title-two{
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    margin: 20px 0px 20px 0px;
    text-transform: uppercase; 
}

.content{
font-family: 'Oxygen', sans-serif;
font-size: 15px;
margin-bottom: 20px;
}

.content-list{
font-family: 'Oxygen', sans-serif;
font-size: 18px;
margin-bottom: 5px;
}

.info-type{
    color: darkslategray;
    text-transform: uppercase;
}

/*Header Styling*/

.header-style{
    background-color: rgb(45, 169, 173);
}

.nav-style{
    color: #fafafa;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.nav-style:active{
    background-color: gray;
}

.nav-style:hover{
    transition: 0.5s;
    color: rgb(105, 105, 105);
}

/*Sections Style*/

.carousel-inner>.item {
    display: none;
    position: relative;
    -webkit-transition: .6s ease-in-out left;
    -o-transition: .6s ease-in-out left;
    transition: .6s ease-in-out left;
}

.carousel-item{
    height: 800px;
}

.carousel-item img{
    height: 800px;
}

.shark-carousel{
    margin: auto;
}

.section-one{
    background-color: rgb(44, 187, 187);
}

.section-two{
    background-color: darkcyan;
    padding: 30px 10% 30px 10%;
}

.section-three{
    background-color: teal;
    padding: 30px 7.5% 30px 7.5%;
}

.shark-info{
    margin: 10px 20px 40px 20px;
    padding: 0px 20px 0px 20px;
    background-color: rgba(245, 245, 245, 0.616);
    box-shadow:5px 5px ;
    
}

.shark-image-left{
    background-image: url(../assets/images/index/hammersmall.webp);
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 30px;
    background-position: center; 
}

.shark-image-center{
    background-image: url(../assets/images/index/whitesmall.webp);
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 30px;
    background-position: 37%,25%;
}

.shark-image-right{
    background-image: url(../assets/images/index/tigersmall.webp);
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 30px;
    background-position: center;
}

/*Footer Styling*/

.footer-style{
    background-color: rgb(1, 65, 65);
}

.creator-name{
    color: whitesmoke;
    margin: auto 0px auto 0px;
}

.personal-note{
    color: whitesmoke;
    text-decoration: none;
    margin: auto 0px auto 0px;
}

.socials{
    color: whitesmoke;
    font-size: 40px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    align-content: center;
    margin: 30px 20px 30px 20px;

}

.socials:hover{
    color: lightslategray;
}